[project]
	description = Example go libraries for debugging
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tarrant (tarrant)
[access "refs/for/refs/*"]
	read = group user/tarrant (tarrant)
	push = group user/tarrant (tarrant)
	label-Code-Review = -2..+2 group user/tarrant (tarrant)
	label-Verified = -1..+1 group user/tarrant (tarrant)
	rebase = group user/tarrant (tarrant)
	removeReviewer = group user/tarrant (tarrant)
	submit = group user/tarrant (tarrant)
[access "refs/heads/*"]
	read = group user/tarrant (tarrant)
	create = group user/tarrant (tarrant)
	push = +force group user/tarrant (tarrant)
	pushMerge = group user/tarrant (tarrant)
[access "refs/tags/*"]
	push = +force group user/tarrant (tarrant)
	pushTag = group user/tarrant (tarrant)
	pushSignedTag = group user/tarrant (tarrant)
